*{
    padding:0;
    margin:0;
}
#container{
    width:1000px;
    height:600px;
    background-color:rgba(230, 232, 235, 0.381);
    margin-top:60px;
    margin-left:350px;
    border:1px solid grey;
    border-radius:30px;
    display:block;
}
#anchor{
    font-size:30px;
    margin-left:-900px;
    margin-top:-420px;
}
.line{
    width:2px;
    height:600px;
    background-color:grey;
    margin-left:450px;
    margin-top:-370px;
}
#info{
    width:300px;
    height:40px;
    margin-top:-60px;
    margin-left:600px;

}
#anc{
    position :absolute;
    top:390px;
    left:950px;
    text-decoration:none;
    color:rgb(16, 67, 176);

}
h2{
    font-family:'poppins';
    margin-left:150px;
    margin-top:60px;
    font-size:35px;
}

h3{
    font-family:'system-ui';
    font-weight:400;
    margin-left:150px;
    margin-top:60px;
    font-size:35px;
}

#btn4{
    height:45px;
    width:250px;
    position:absolute;
    left:490px;
    top:100px;
    font-family:'Poppins', serif;
    background-color:white;
    color:grey;
    text-decoration:none;
    border:1px solid rgb(208, 195, 195);
    border-radius:7px;
    font-size:14px;
    display:flex;
    align-items:center;
    
}
i{
    font-size:20px;
    color:black
}
img{
    height:50px;

}
p{
    margin-left:599px;
    margin-top:100px;
}
a{
    position :absolute;
    top:490px;
    left:950px;
    text-decoration:none;
    color:rgb(16, 67, 176);
}
#pass{
    width:300px;
    height:40px;
    margin-top:20px;
    margin-left:600px;
}
#btn3{
     height:45px;
    width:100px;
    position:absolute;
    left:1155px;
    top:400px;
    font-family:'Poppins', serif;
    background-color:white;
    color:grey;
    font-size:14px;
    align-items:center;
}