*{
    padding:0;
    margin:0;
}
#container{
    width:1000px;
    height:600px;
    background-color:rgba(205, 208, 214, 0.606);
    margin-top:60px;
    margin-left:350px;
    border:1px solid grey;
    border-radius:30px;
    display:block;
}
.fa-solid{
    font-size:25px;
    margin-left:50px;
    margin-top:40px;
}
.line{
    width:2px;
    height:600px;
    background-color:grey;
    margin-left:450px;
    margin-top:-234px;
}
#info{
    width:200px;
    height:30px;
    margin-top:200px;
    margin-left:600px;
}