* {
      margin:0;
    padding:0;
}

#nav-bar{
    background-color:#e9e9db;
    height:90px;
    width:100%;
    display:flex;
    position:relative;
 
}
#logo{
    padding:30px;
    color:rgb(3, 3, 96);
    font-family: Times New Roman, serif;

    
}
#btn1{
    height:40px;
    width:80px;
    position:absolute;
    left:500px;
    top:30px;
    text-decoration:none;
    border:1px solid black;
    border-radius:7px;
    font-size:15px;
    
    
    
}